
  #modal-content > button:nth-child(3) {
    background-color:rgb(252, 99, 88);
  }

  #modal-content > button:nth-child(4) {
    background-color:gray;
  }
  #modal-content > button {
    padding: 1rem;  
    margin-bottom: 1rem;
    color: white;
    cursor:pointer;
  }
