
  #modal-content > button:nth-child(3) {
    background-color:rgb(252, 99, 88);
    color: white;
    cursor:pointer;
  }

  #modal-content > button {
    padding: 1rem;  
    margin-bottom: 1rem;
    
  }

  #modal-content > button:not([disabled]) {
    cursor: pointer;
  }

 
