
.spot-details-everything-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
}


.images-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
    border-radius: 15px;
    overflow: hidden;
    height: 380px;
}



.right-imgs{
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 1rem;

}

.not-preview-imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#the-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.middle-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgb(232, 221, 221);

}


.short-info-box{
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    box-shadow: 0 0 5px 1px lightgrey;
    padding: 0 1rem;
    border-radius: 15px;
    width: 350px;
}


.info-box-section {
    padding: 1rem 0 1rem 1rem;
    justify-self: flex-end;
}

.top-info {
    display: flex;
    gap: 1rem;

}

.rating {
    display:flex;
    align-items: center;
    gap: 0.25rem;
    flex: 1;
    justify-content: flex-end;

}

#price-section {
    flex: 1;

}

.check-in-out-date-inputs {
    /* border: 1px solid green; */
    flex-direction: row;
}


.reserve-button-container{
    justify-content: center;
    display:flex;
    padding: 0.5rem 0;
}

#reserve-btn {
    font-size: 15px;
    padding: 0.6rem;
    background-color: rgb(252, 99, 88);
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#see-spot-reservations-btn {
    font-size: 15px;
    padding: 0.6rem 0;
    background-color: rgb(252, 99, 88);
    color: white;
    cursor: pointer;
    width: 100%;
    border:none;
    border-radius: 5px;
}

#reserve-btn:hover, #see-spot-reservations-btn:hover {
    background-color: rgb(243, 80, 68)
}


img {
    width: 100%;
    object-fit: cover
}

#spot-name {
    text-align:left;
}

.reserve-date-errors > p {
    color:red;
    margin: 0.2rem 0;
}

.date-selection-wrapper{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 0.5rem 0;
    display: flex;
}

.date-selection-wrapper > label {
    font-size: 10px;
    font-weight: 500;
    width: 50%;
    padding-left: 0.5rem;
}

#reserve-area-form{
    padding: 0;
}

#checkin-label {
    border-right: 1px solid lightgray;
}
.date-selection-wrapper > label > input {
    border:none;
    cursor: pointer;
}
