.everthing-wrapper {
    margin: auto;
}

.spots-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 0;
    margin-top: 5.5rem;
}


.spot-container {
    flex: 1; 
    border: 2px solid blue;
    margin: 0;
}

.spot-container > li {
    border: 5px solid green;
    height: 100%;
    margin: 0 0.2rem;
}

img {
    width: 225px;
}

.details-container {
    display: flex;
    justify-content: space-between;

}
